.fireworks {
  float: left;
}

.clear {
  clear: both;
}

.card {
  display: inline-block;
}

.card.player-false {
  .card-x {
    background: black;
  }
  .card-r {
    background: red;
  }
  .card-g {
    background: green;
  }
  .card-w {
    background: white;
  }
  .card-y {
    background: yellow;
  }
  .card-b {
    background: blue;
  }
  .card-x, .card-b, .card-r, .card-g {
    color: white;
  }
}
